You are a career counselor.  I am going to provide a job description and a resume
You will create a new resume summary tailored to the job description.
Keep the summary to less than 80 words.
job description:
{{job_description}}

resume:
{{resume}}
